@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Poppins:wght@400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
}
.nav-item .active {
  color: goldenrod;
}

.btn-outline-primary {
  color: gold;
  border-color: gold;
  border: 1px solid gold;
  width: 12%;
}
.btn-outline-dark{
  width: 20%;
  margin-top: 3%;
  font-weight: 500;
}
.btn-outline-primary:hover {
  color: gold !important;
  background-color:transparent !important;
  border: 1px solid gold !important;
  border-color: gold !important;
}

.btn-outline-dark:hover {
  color: unset !important;
  background-color:unset !important;
  border-color: unset !important;
}

.circles_services {
  display: flex;
  flex-direction: row;

  padding: 6%;
}

.circles_services p {
  font-size: 70%;
  font-weight: 600;
}

.services_circle {
  border: 2px solid rgba(255,219,109,1);
  height: 21vh;
  border-radius: 50%;
  margin: 1%;
  padding: 1%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.service_heading_main {
  display: flex;
  padding-top: 1%;
  flex-direction: row;
  justify-content: space-between;
}

.btn-dark {
  background-color: black;
  font-size: medium;
  width: 100%;
  color: gold;
}
.navbar-nav{
  margin-top: 1%;
}
.our_service_heading{
  text-transform: uppercase;
}
.request_a_call_back {
  position: relative;
  width:auto;
  border-radius: 20px;
  padding: .5%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  margin-top: none !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,219,109,1);
  /* filter: (0px 3px 6px rgba(255, 255, 255, 0.161)); */
}

/* Custom styles */
.navbar {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: 600;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
  
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand img {
  width: 65%;
  margin-left: -9%;
}

.heading_services {
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 40%;
}
 .heading_services h1 {
    width: 87%;
    margin-top: 2%;
    font-weight: 500;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: black; margin-top: 4%; 
  }

.quote_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* footer */


/* Add your custom styles here */


.image_for_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(8px); */
  width: 100%;
  background-size: contain;
  /* background-image: url('../images/scales-justice-gavel-wooden-ta.png'); */

}

.image_for_banner img {
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: none;
  -webkit-filter: none;
}

.footer {
  background-color: black;
  color: goldenrod;
  padding: 20px;
}
.footer li{
  color: white;
}
.footer h3 {
  color: goldenrod;
  font-size: 1.3rem;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media a {
  color: goldenrod;
  font-size: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 5px;
}

.placements_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(-180deg, #FFDB6D, white);
}

.textual_placements {
  width: 70%;
  margin-left: 17%;
  height: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.image_secton {
  display: flex;
  height: 100%;
  background-color: azure;
  justify-content: flex-start;
  align-items: center;
  width: 70%;

}

.textual_placements p {
  font-size: larger;
  margin-top: 4%;
  width: 94%;
}
.textual_placements h1{
  font-size: 190%;
  text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;
  font-weight: 500;
  width: 60%;
  line-height: 40px;
}
.image_secton img {
  width: 100%;
  height: 100%;
}

.quote_section {
  background-color: black;
  height: 40vh;
  color: white;
}

.heading_quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

.quote_para p {
  width: 75%;
  font-size: larger;
}

.social_section {
  background-color: black;
  height: 100%;
  padding-bottom: 10%;
  padding: 2%;
}

.social_handle_heading {
  width: 29%;
}

.social_handle_blocks {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 5%;
}

.social_handle {
  background-color: goldenrod;
  height: 100%;
  border: 5px solid rgb(82, 61, 8);
  border-radius: 5%;
  width: 30%;
  margin: 1%;
}

.block {
  position: relative;
}

.btn-primary {
  background-color: goldenrod;
  border: goldenrod;
}


.btn-primary:hover {
  background-color: goldenrod;
  border: goldenrod;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 5%;
  opacity: 0.6;
  /* Adjust the opacity as needed */
}
.image_circle{
  width: 100%;
  margin: 2%;
}
.image_circle img{
  width: 100%;
}
.circles_services{
  justify-content:space-evenly;
  padding: 0%;
  padding-top:3%;
  padding-bottom: 3%;
}
.block_for_social_platforms{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  /* Adjust the logo size as needed */
  /* You can add more styles for the logo, such as border-radius, box-shadow, etc. */
}

.card {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 35%;
  
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 2%;
  padding: 2%;
}
.OUR_VIRTUAL_HEADING{
  font-size: xx-large;color: goldenrod;

}
.block_under_sp{
width:24%;
margin-top: 3%;
}
.card form{
  margin-top: 5%;
}
.form_section {
  background-image: url("../images/Maps_BG@2x.png");
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media (min-width: 742px) and (max-height:882px) {
  .request_a_call_back {
   width: 40%; 
  }
}

/* Hide the toggle button on larger screens */
@media (min-width: 900px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-toggler {
    border: 2px solid white;


  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 3.6rem
  }



  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
  }

}

@media (max-width: 768px) {
body{
  overflow-x: hidden;
}
  .request_a_call_back {
    width: 54%;
    padding-right: 1%;
    padding-left: 1%;
  }

  .navbar-brand img {
    width: 35%;
  }

  .btn-dark {
    background-color: black;
    font-size: small;
    width: 100%;
  }

 

  .quote_section {
    height: 50vh;
    color: white;
  }
  .heading_services h1 {
    width: 67%;
    margin-top: 2%;
    font-weight: 500;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    color: black; margin-top: 4%; 
  }

  .heading_services {
    width: 50%;
    padding-top: 3%;
    font-family: 'Poppins', sans-serif;
  }
  

  .heading_quote h1{
    font-size: large;
  }
  .quote_para p {
    width: 100%;
    font-size: small;
}
.circle_area{
  overflow-x: scroll;
}

.circles_services {
  display: flex;
  flex-direction: row;
  padding: 6%;
  width: 150%;
}
.image_circle{
  width: 100%;
}
.btn-outline-dark{
  width: 50%;
}
.btn-outline-primary{
  width: 52%;
}
.btn{
  font-size: .8rem;
}
.services_circle {
  background-image: linear-gradient(-180deg, rgba(255,219,109,1), rgb(255, 255, 253)) !important;
  border: 2px solid rgba(255,219,109,1);
  height: 7vh;
  border-radius: 4%;
  margin: 1%;
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.placements_section {
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.textual_placements {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0%;
}
.textual_placements h1{
  font-size: large !important;
  margin-top: 5%;
  width: 82%;
  line-height: 25px;
}


.image_for_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(8px); */
  width: 100%;
  background-size: contain;
  /* background-image: url('../images/scales-justice-gavel-wooden-ta.png'); */

}

.image_for_banner img {
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: none;
  -webkit-filter: none;
}
.textual_placements p{
  width: 80% !important;
  font-size: smaller;
  text-align: left;
  margin-top: 1%;
}
.image_secton {
  display: flex;
  height: 100%;
  margin-top: 4%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.image_secton img {
  width: 100%;
  height: 100%;
}
.social_handle_blocks {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.social_handle {
  background-color: goldenrod;
  height: 100%;
  border: 5px solid rgb(82, 61, 8);
  border-radius: 5%;
  width: 80%;
  margin: 1%;
}
.OUR_VIRTUAL_HEADING{
  margin-bottom: 0%;
}
.social_handle_heading {
  width: 65%;
  margin-top: 4%;
}
.social_section {
  background-color: black;
  height: 100%;
  padding: 3%;
}
.card{
  width: 95% !important;
}
.form_section{
  padding: 5%;
}
.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block_for_social_platforms{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  .OUR_VIRTUAL_HEADING{
    font-size:large;color: goldenrod;
  }
  .block_under_sp{
  width:100%;
  margin-top: 3%;
  }

/* Your CSS styles for screens below the standard resolution go here */

}

/* @media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
}
}
@media screen and (max-width: 1910px) {
  
  .textual_placements p {
    font-size: small;
    margin-top: 4%;
    width: 94%;
  }
  .textual_placements h1{
    font-size: medium;
    font-weight: 600;
    width: 60%;
  }
  .card{
    width: 60%;
  }
  } */

  @media only screen   
  and (min-width: 1030px)   
  and (max-width: 1366px) 
  {
    .quote_section{
      height: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .textual_placements h1{
      font-size: 128%;
    }
    .textual_placements p{
      font-size: medium;
    }
    .btn-outline-dark{
      width: 40%;
    }
  }
