{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block social_meta_tags %}
<meta property="og:title" content="About VBB LEGAL">
<meta property="og:description" content="We at VBB LEGAL serve with legal expertise to our clients and help them out in their legal battles in Criminal High profile Cases, Civil and Corporate.">
<meta property="og:image" content="https://vbblegal.in/static/images/Mask_Group_1.png">
<meta property="og:url" content="https://vbblegal.in/about-us">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About VBB LEGAL">
<meta name="twitter:description" content="We at VBB LEGAL serve with legal expertise to our clients and help them out in their legal battles in Criminal High profile Cases, Civil and Corporate.">
<meta name="twitter:image" content="../static/images/Mask_Group_1.png">
{% endblock %}
<style>
    .img_VBB_DEPARTMENT{
        width: 80%;
    }
    .VBB_statement{
        font-size: 122%; font-family: 'Poppins', sans-serif; text-align: center;
    }
    .img_about_us_heading{
        width: 50%;
    }
    .area_of_ex:hover{
        cursor: unset !important;
    }
    .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,191,0,1) ;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
    }
    .data_quote{
        display: flex;
        justify-content: center;
        margin-top: 4%;
        width: 100%;
        align-items: center;
        
    }
    .data_quote blockquote{
        width: 50%;
        font-size:100%;
        font-family: 'Poppins', sans-serif;
    }
    blockquote {
  /* padding: 2%; Add some space for the quote icon */
  /* line-height: 1.5; */
}

blockquote::before {
  content: "\201C"; /* Unicode code point for opening double quotation mark */
  font-size: 270%; /* Adjust size of the quote icon */
  font-family: 'Times New Roman', Times, serif;
  color: rgba(255,219,109,1) ; /* Change color of the quote icon */
}

blockquote::after {
  content: "\201D"; /* Unicode code point for closing double quotation mark */
  font-size: 270%; /* Adjust size of the quote icon */
  color: rgba(255,219,109,1) ;  /* Change color of the quote icon */
  font-family: 'Times New Roman', Times, serif;
}
.commitment_section{
    display : flex ;
    margin-top: 2.4%;
    animation: slide-left-in 3.5s ease;
    flex-direction: row;
}
.expertise_section{
    display : flex ;
    margin-top: 2.4%;
    animation:slide-right-in 3.5s ease;
    flex-direction: row;
}
.commitment{
    width: 70%;
    background-color: #FFDB6D;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.VBB_diff{
    margin-top: 4%;
}
.VBB_diff h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -1%;
}
.exptertise{
    width: 70%;
    background-color: #FFDB6D;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.commitment h1 {
    margin-left: 24%;
    font-weight: 600;
    font-size: 1.5rem;
}
.exptertise h1{
    margin-left: 5%;
    font-weight: 600;
    font-size: 1.5rem;
}
.commitment p {
    margin-left: 24%;
    margin-top: 1%;
}

.exptertise p {
    margin-left: 5%;
    margin-top: 1%;
}
.commitment_icon{
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.expertise_icon {
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.commitment_icon img{
    width: 22%;
}
.expertise_icon img{
    width: 22%;
    margin-left: 30%;
}
.area_of_expertise{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    width: 100%;
}
.area_of_expertise button {
    width: 274px;
  height: 57px;
  transform: skewX(-20deg); /* Skew the button */
    background-color: black;
    color: rgba(255,191,0,1);

}

.area_of_expertise button h5 {
  transform: skewX(20deg); /* Skew the button */
   

}
.practice_area{
    border: 2px solid rgba(255,191,0,1);
    height: 36vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
.first_section{
    background-color:white;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -20%;
    width: 60%;
    justify-content: space-between;
    margin:1% ;

}
.second_section{
    background-color:white;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin:1% ;
}
.practice_block{
    background-color:rgba(255,219,109,1) ;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 1%;
    min-height: 8vh;
    width: 50%;
}
.practice_block img {
    width: 80%;
}
.main_block_for_practice{
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;

}

@keyframes slide-left-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes slide-right-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width: 768px){
    .data_quote blockquote{
        width: 100%;
        font-size: small;
        font-family: 'Poppins', sans-serif;
    }
    .img_about_us_heading{
        width: 97%;
    }
    .commitment h1 {
    margin-left: 5%;
    font-size: 74%;
}
.exptertise h1{
    margin-left: 5%;
    font-size: 74%;
}

.commitment p {
    margin-left: 5%;
    font-size: 42%;
}

.exptertise p {
    margin-left: 5%;
    font-size: 42%;
}
.VBB_diff h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -1%;
}
.VBB_diff p {
  font-size: .7rem;
  font-weight: 600;
  margin-bottom: -1%;
}

.commitment{
    width: 70%;
    background-color: #FFDB6D;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 2%;
}
.exptertise{
    width: 70%;
    background-color: #FFDB6D ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 2%;
}

.commitment_icon img{
    width: 60%;
}
.expertise_icon img{
    width: 60%;
    margin-left: 3%;
    
}
.commitment_icon{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
}
.expertise_icon {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
}
.first_section {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -25%;
    width: 89%;
    justify-content: space-between;
    margin: 0%;
}
.second_section {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 94%;
    justify-content: space-around;
    margin: 0%;
}
.practice_block {
    background-color: rgba(255,219,109,1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 1%;
    min-height: 8vh;
    width: 19%;
}
.commitment_section {
    display: flex;
    margin-top: 6%;
    flex-direction: row;
}
.expertise_section{
    display : flex ;
    margin-top: 6%;
    flex-direction: row;
}
.practice_area {
    border: 2px solid rgba(255,191,0,1);
    height: 24vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
.img_VBB_DEPARTMENT {
    width: 100%;
}
.VBB_statement{
        font-size: 90%; font-family: 'Poppins', sans-serif; text-align: center;
    }
.area_of_expertise{
    margin-top: 15%;
}
.area_of_expertise button {
    width: 100%;
    height: 30px;
    transform: skewX(-20deg);
    background-color: black;
    font-size: 100%;
    color: rgba(255,191,0,1);
}
.area_of_ex h5{
    font-size:100%;
    margin-top: 2%;
}
}
@media only screen   
  and (min-width: 1030px)   
  and (max-width: 1366px) 
  {
    .commitment{
        height: 100%;padding-top: 1%;
        padding-bottom: 1%;
    }
    .exptertise{
        height: 100%;padding-top: 1%;
        padding-bottom: 1%;
    }
    .img_about_us_heading{
        width:65%;
    }
  }

</style>
<hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style="">
    <div class="container">
        
        <div class = 'about_usheading'>
            <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">About Us</h1>
        </div>    
    </div>
</div>
<div class="data_quote">

        <!-- <blockquote> Welcome to <b>VBB Legal</b> your trusted partner in navigating the complexities of the legal world. With a tradition of trust and an unwavering commitment to excellence. we have been serving individuals and businesses with unparalleled legal representation.
        </blockquote> -->
        <img src = '../static/images/Group_31.png' class ='img_about_us_heading'style =''/>
    
</div>
<div class="commitment_section">
    <div class="commitment">
        <h1>Our Commitment to You</h1>
        <p>
            At VBB Legal, we believe in putting our clients first. Your success and satisfaction are our top priorities. We take the time to understand your unique needs, concerns, and goals to craft personalized legal solutions that truly make a difference.
        </p>
    </div>
    <div class="commitment_icon">
        <img src="{% static 'images/handshake@2x.png' %}" alt="">
    </div>
</div>

<div class="expertise_section">
    <div class="expertise_icon">
        <img src="{% static 'images/quality@2x.png' %}" alt="">
    </div>
    <div class="exptertise">
        <h1>Experience and Expertise</h1>
        <p>
            Our team of highly skilled attorneys brings decades of collective experience to the table. With diverse expertise across a wide range of practice areas, we are well-equipped to handle even the most challenging legal matters.
        </p>
    </div>
</div>

<div class="commitment_section">
    <div class="commitment">
        <h1>Client-Centered Approach</h1>
        <p>
            Empowering you through clear communication and exceptional representation is at the core of our approach. We take pride in building lasting relationships with our clients, ensuring you feel supported and informed at every step of your legal journey.
        </p>
    </div>
    <div class="commitment_icon">
        <img src="{% static 'images/target-audience@2x.png' %}" alt="">
    </div>
</div>

<div class="expertise_section">
    <div class="expertise_icon">
        <img src="{% static 'images/goal@2x.png' %}" alt="">
    </div>
    <div class="exptertise">
        <h1>Proven Results</h1>
        <p>
            Our track record of success speaks volumes about our dedication to securing favorable outcomes for our clients. We measure our achievements by the trust and satisfaction of those we serve.
        </p>
    </div>
</div>

<div class="area_of_expertise">
    <div class="heading_area_of_expertise" >
        <button class="area_of_ex">
            <h5 style="text-transform: uppercase;color:#FFBF0"> 

            AREA OF PRACTICE
        </h5>
    </button>
    </div>
</div>
<div class="container mt-5">
    <p class = 'VBB_statement' style="" class="mb-5 mt-5">VBB Legal offers comprehensive legal services across various practice areas, including but not limited to:</p>
</div>
<div class="container">
<div class="image_practice_area" style="width: 100%;display: flex;justify-content: center;align-items: center;">

    <img src="{% static 'images/AreasofPractice.png' %}"alt="" class="img_VBB_DEPARTMENT">
</div>
    <!-- <div class="practice_area">
        <div class="first_section">
            <div class="main_block_for_practice" style="width: 100%;">
            <div class="practice_block"> <img src="{% static 'images/family@2x.png' %}"alt=""></div>
            <div class="title_of_practice_block"><h6>Family Laws</h6></div>
        </div>
            <div class="main_block_for_practice" style="width: 100%;">
            <div class="practice_block"> <img src="{% static 'images/corporate-laws@2x.png' %}"alt=""></div>
            <div class="title_of_practice_block"><h6>Family Laws</h6></div>
        </div>
            <div class="main_block_for_practice" style="width: 100%;">
            <div class="practice_block"> <img src="{% static 'images/contract@2x.png' %}"alt=""></div>
            <div class="title_of_practice_block"><h6>Family Laws</h6></div>
        </div>
            <div class="main_block_for_practice" style="width: 100%;">
            <div class="practice_block"> <img src="{% static 'images/job-search@2x.png' %}"alt=""></div>
            <div class="title_of_practice_block"><h6>Family Laws</h6></div>
        </div>
            
        </div>

        <div class="second_section">
           
            <div class="main_block_for_practice" style="width: 100%;">
                <div class="practice_block"> <img src="{% static 'images/copyright@2x.png' %}"alt=""></div>
                <div class="title_of_practice_block"><h6>Family Laws</h6></div>
            </div>
            <div class="main_block_for_practice" style="width: 100%;">
                <div class="practice_block"> <img src="{% static 'images/law@2x.png' %}"alt=""></div>
                <div class="title_of_practice_block"><h6>Family Laws</h6></div>
            </div>
           
           
            
           
        </div>
    </div> -->
</div>

    <div class="exper28 mt-5">
        <div class="container">
            <div class="main_xp">
                <div class="xp_box">
                    <h1><span id="counter">28</span>+<br><p>Years</p></h1>
                </div>
                <div class="xp_text" id="triggerDivision">
                    <h4>28+ years of Rich Experience</h4>
                    <p>
                        We utilise rich experience of more than 28 years of advocacy to effectively<br> fight against injustice to our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="VBB_diff mb-5 mt-5">

        <h1>
            Experience the VBB Difference
        </h1>
        <br>
        <br>
        <p>
            Choosing VBB Legal means choosing a team of passionate advocates who will fight for your rights and best interests. We are committed to turning your legal challenges into victories.
            <br><br>
            Contact us today to discover how VBB Legal can be your guide to a brighter legal future.
        </p>
        <a href = '/contact/'>
            <div class="btn btn-primary mt-4" style="background-color: #FFDB6D; color: black; font-family: 'Poppins', sans-serif, Times, serif;"> <b>CONTACT NOW </b></div>
        </a>
    </div>
</div>
<script>
    // Get a reference to the span element with the id "counter"
    const counterSpan = document.getElementById("counter");

    // Set the initial count value to 0
    let count = 0;

    // Flag to check if the counter has started
    let counterStarted = false;

    // Function to update the counter and display it
    function updateCounter() {
        // Increment the count
        count++;

        // Limit the counter to 28
        if (count > 28) {
            count = 28;
        }

        // Update the text inside the span element with the new count
        counterSpan.textContent = count;
    }

    // Function to start the counter
    function startCounter() {
        // Check if the counter has already started
        if (!counterStarted) {
            counterStarted = true;

            // Use setInterval to update the counter every 1000 milliseconds (1 second)
            const counterInterval = setInterval(updateCounter, 50);
        }
    }

    // Function to handle the scroll event
    function handleScroll() {
        // Get the position of the trigger division
        const triggerDivision = document.getElementById("triggerDivision");
        const triggerDivisionTop = triggerDivision.getBoundingClientRect().top;

        // Check if the trigger division is in the viewport and the counter is not yet at 28
        if (triggerDivisionTop <= window.innerHeight && count < 28) {
            // Start the counter when it's in the viewport
            startCounter();
        }
    }

    // Attach the scroll event listener to the window
    window.addEventListener("scroll", handleScroll);

    // Check if the trigger division is initially in the viewport
    handleScroll();
</script>

    {% endblock content %}
