  
<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta property="og:title" content="VBB LEGAL">
<meta property="og:description" content="We at VBB LEGAL serve with legal expertise to our clients and help them out in their legal battles in Criminal High profile Cases, Civil and Corporate.">
<meta property="og:image" content="../static/images/Mask_Group_1.png">
<meta property="og:url" content="https://vbblegal.in/about-us">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="VBB LEGAL">
<meta name="twitter:description" content="We at VBB LEGAL serve with legal expertise to our clients and help them out in their legal battles in Criminal High profile Cases, Civil and Corporate.">
<meta name="twitter:image" content="../static/images/Mask_Group_1.png">

    {% load static %}
    <meta property="og:image" content="../static/images/Mask_Group_1.png">
    <!-- All Meta links as per pages -->
    {% if home %}
    
    <title>VBB LEGAL - Criminal law, Civil law & Corporate legal services in Mumbai, Navi Mumbai and India.</title>
    <meta name="description" content="VBB LEGAL to its clients with best-in-class legal services in Mumbai, Navi Mumbai. We are dealing with all kinds of Criminal defense and civil Litigation Under one Roof.">
    {% endif %}

 
    {% if abouts_us  %}
    <title>About VBB LEGAL offering and legal expsrtise Utilities it's more than 28 Years of Rich legal experience to serve it's best in class legal services all across India  </title>
    <meta name="description" content="We at VBB LEGAL Serves with its legal expertise to its clients and help them out in their legal battles in Criminal High profile Cases, Civil and Corporate also resolves industrial and family Disputes. ">
    <meta property="og:image" content="../static/images/Mask_Group_1.png">
    {% endif %}
    
   {% if our_services  %}
   <title>VBB LEGAL Services - Criminal Defence Litigation, Civil Rights Litigation, 138 NI Act Cheque Bounce Cases, NDPS cases, Family and Divorce Lawyers, Bail Applications, Corporate Legal Services.</title>
   <meta name="description" content="VBB LEGAL deals in Criminal Cases, Bail and Anticipatory bail Matters, criminal Defence Litigation, Civil and property cases, Cheque Bounce Cases, Divorce and Maintenance Cases, MAHA RERA Matters, and many more, Legal services in Mumbai and Navi Mumbai, Maharashtra, and all across India. ">  
   {% endif %}  

   {% if ourteam  %}
   <title> VBB LEGAL Core team </title>
   <meta name="description" content="VBB LEGAL focuses on team work and efficient results. Here are the legal professionals having expertise in different legal areas. ">
 
   {% endif %} 

   {% if contact  %}
   
   <title> Contact VBB Legal | VBB Address</title>
    <meta name="description" content="Contact us for best in class legal services and for more details. ">
  
   {% endif %} 
    
   {% if whyus  %}
   
   <title>How We can help you </title>
   <meta name="description" content="VBB Legal deals in Criminal law, corporate law, Industrial and labour law, Company law and and Civil law cases under one roof having rich experience of more than 28 Years.">
 
   {% endif %} 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css.map' %}">
  <link rel ="icon" href = "../static/images/Mask_Group_1.png">
  <link rel="shortcut icon" type="image/x-icon" href="../static/images/Mask_Group_1.png">
  <link rel ="stylesheet" href = "{% static 'css/index.css' %}">
  <!-- <link rel="stylesheet" href="./dist/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="./dist/css/bootstrap.rtl.min.css.map"> -->
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Poppins:wght@400;600&display=swap');

   li .nav-item{
    margin: 10%;
   }

   @media (max-width: 768px) {
   
   .about_us_header{
    width: 22%;
   }
   .about_us_header2{
    width: 23%;
   }
   .about_us_header3{
    width: 22%;
   }
   .about_us_header4{
    width: 19%;
   }
   .about_us_header5{
    width: 27%;
  }
  }
  </style>
</head>
<body>
    

 
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container">
    <a class="navbar-brand" href="/">
        <img src ="{% static 'images/Mask_Group_1.png' %}">
      </a>
 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <i class='bx bx-menu' style='color:#fff8f8' ></i>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav request_a_call_back">
        <a href = '/#form_section' style="text-decoration: none; color: black !important;">
        <li  class="nav-item active">
          <i class='bx bx-phone-call' style='color:black;'></i>  Request call back
        </li>
      </a>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about-us/"> {% if abouts_us  %} <p class = 'about_us_header'style="color: goldenrod; border-bottom: 2px solid goldenrod; "> {% endif %} About Us</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourteam/"> {% if ourteam  %} <p class = 'about_us_header2' style="color: goldenrod; border-bottom: 2px solid goldenrod;"> {% endif %} Our Team</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/our-services/"> {% if our_services  %} <p class = 'about_us_header3' style="color: goldenrod; border-bottom: 2px solid goldenrod; ">{% endif %} Services</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/why-us/"> {% if whyus  %} <p  class = 'about_us_header4'style="color: goldenrod; border-bottom: 2px solid goldenrod; "> {% endif %} Why Us</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/contact/"> {% if contact  %} <p class = 'about_us_header5' style="color: goldenrod; border-bottom: 2px solid goldenrod; "> {% endif %}Contact Us</p></a>
        </li>
      </ul>
    </div>
</div>
</nav>
<script>
 
</script>
  {% block content %}
  {% endblock content %}
  {% include 'footer.html'%}
  <script>
    (function() {
        var images = document.querySelectorAll('img[loading="lazy"]');
        if ('loading' in HTMLImageElement.prototype) {
            images.forEach(function(img) {
                img.setAttribute('loading', 'lazy');
            });
        } else {
            var script = document.createElement('script');
            script.src = 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js';
            document.body.appendChild(script);
        }
    })();
</script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src ="{% static 'dist/js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
</body>
</html>