{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
  .whatsapp{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    width: 100%;
    align-items: center;
  }
  .whatsapp_text{
    color: #4CAF50;
  }
.green_arrow{
  width: 7%;
  margin-left: 4%;
}
.whatsapp_image{
  width: 10%;
}
    .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,191,0,1) ;
        font-family: "Poppins", "sans-serif";
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
    }
    .form_section{
      background-image: none;
    }
   
    .card{
        margin: 3%;
        width: 70%;
        min-height: 70vh;
    }
    .btn {
      width: 40%;
    }

    #map{
      border-radius: 10px;
      height: 380px;
      transition: 0.5s ease-in-out;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    #map:hover{
      border-radius: 10px;
      transition: 0.5s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .for_background{
        background-image: url("{% static 'images/Maps_BG@2x.png' %}");  
        background-size: cover;
    }
    .li > h5 > p{
        font-size: smaller;
    }
    @media (max-width: 768px){
      .form_section{
        flex-direction: column;
      }
      .for_background{
        background-image: url("{% static 'images/Maps_BG@2x.png' %}");  
        background-size:cover;
    }
    .whatsapp{
    display: flex;
    font-size: 88%;
    flex-direction: row;
    margin-bottom: 8%;
    width: 100%;
    align-items: center;
  }
  .whatsapp_text{
    color: #4CAF50;
  }
.green_arrow{
  width: 4%;
  margin-left: 2%;
}
.whatsapp_image{
  width: 10%;
}
     
#map{
  height: 300px;
}
      .card{
        margin: 3%;
        width: 100%;
        min-height: auto;
        padding: 6%;
    }
    .btn-primary{
      width: 60%;
    }
    }
</style>
<div class="for_background">
  <hr style="opacity: 1; background-color: rgb(185, 139, 30); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style=" ">

    <div class="container">
        
        <div class = 'about_usheading'>
          <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">Contact Us</h1>
        </div>    
    </div>
</div>


<div class="container mt-5">
    <div class="form_section">
        <div class="card">
          <div class="container">
            <center>
              <h3 style="font-weight: 600;  font-family: 'Poppins', 'sans-serif';">GET IN TOUCH</h3>
            </center>
            <form method="POST" action="/">
              {% csrf_token %}
              <div class="mb-3 mt-5">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
              </div>
        
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number:</label>
                <input type="tel" id="phone" name="phone" class="form-control" required>
              </div>
        
              <div class="mb-3">
                <label for="email" class="form-label">Email ID:</label>
                <input type="email" id="email" name="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label mt-3">Message:</label>
                <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
              </div>
        <center>
          <button type="submit" class="btn btn-primary mt-4"style='background-color:#FFDB6D;color:black;text-transform: uppercase;font-weight: 600;'>Submit</button>
        </center>
            </form>
          </div>
        </div>

        <div class="card" style="border: none; box-shadow: none; background: transparent;">
            <h4 style='font-family: "Poppins", "sans-serif";font-weight: 600;'>
                Address:
            </h4>
            <ul style="list-style: disc; ">
            <li style="color: goldenrod;list-style-type: disc;
            font-size:25px;"><h5 style = 'color: black !important;  font-family: "Poppins", "sans-serif";font-weight: 500;'>Mumbai:<br>
               <p style = "color: black !important; font-size: medium; font-weight: 400;">424, MOHID HEIGHTS, RTO Rd, Suresh Nagar, Andheri West, Mumbai- 400053.</p>
               <p style = "color: black !important; font-size: medium; font-weight: 400;">Office no. 4, Swapna Sakar Society, beside Versova Metro Station, Andheri West, Mumbai- 400053 </p>
         </h5>
        </li>
            <li style="color: goldenrod;font-size:25px;"><h5 style = 'color: black;  font-family: "Poppins", "sans-serif" !important;font-weight: 500;'>Navi Mumbai: 
              <p style = " font-family: 'Poppins', 'sans-serif'; color: black !important;font-size: medium; font-weight: 400;">Office No 303, Pearl Apartment, At Rees, Post Mohopada, Near Panvel, Navi Mumbai 410222</p></h5>
            </li>
        </ul>
        <div class="whatsapp" style="color: black;font-weight: 500;">
          <img src="../static/images/whatsapp.png" alt="" class="whatsapp_image" > Now feel free to <a href ='https://api.whatsapp.com/send?phone=918999403568&text=Hello, More Information Please' style="color: #4CAF50;margin-left: 1%;text-decoration: none;">Whatsapp US!</a><img class="green_arrow" src="../static/images/green-right-arrow.png" alt="">

        </div>
        <div id="map"></div>
        
            <a href ='https://goo.gl/maps/zZKfoPc3t54uZov37' class="btn btn-primary mt-4" style='font-weight: 600;  background-color:#FFDB6D;color:black;text-transform: uppercase;'> Get Directions </a>
          </div>
        </div>

    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var customIcon = L.divIcon({
    className: 'custom-marker',
    html: '&#x25CF;', // You can use other symbols or HTML content
    iconSize: [20, 20], // Size of the icon
});
  // Initialize the map
  var map = L.map('map').setView([19.130605,72.822679], 17); // Replace with your location's coordinates and desired zoom level

  // Add a tile layer from OpenStreetMap
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 25,
  }).addTo(map);

  // Add a marker to the map
  L.marker([19.130605, 72.822679]).addTo(map) // Replace with your location's coordinates
      .bindPopup('VBB LAW FIRM Office'); // Replace with a popup message if desired
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var marker = L.marker([19.130605, 72.822679],{ icon: customIcon }).addTo(map);
// marker.bindPopup("<b>VBB LAW FIRM").openPopup();
L.control.zoom({ position: 'bottomright' }).addTo(map);
L.control.scale().addTo(map);

</script>
{% endblock content %}