{% load static %}
<style>
  .social-media{
    display: flex;
    width: 70%;
    flex-direction: row;justify-content: flex-start;align-items: flex-start;
  }
.footer_logo{
  margin-left: -6%;
}
.footer_address {
  text-align: right;
}
.footer_address img{
 margin-right: -10%;
}


.social_footer_classes{
  width:100%;
  margin-top: 3%;
  margin-left: -80%;
}
.social-media > ul > li > a > img{
      margin-left: -74% ;

    } 
    .contact_images{
      width:14%;margin-top: 3%;
    }
    .contact-info li{
    margin-left: -3%;
  }
    @media (max-width: 768px) {
  .contact-info li{
    margin-left: -3%;
  }
  .footer {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .col-md-4 {
      text-align: center;
      margin-bottom: 20px;
    }

    .social-media {
      width: 84%;
      margin-left: -12%;
      
    }

    .social-media li {
      margin: 0 10px;
      margin-top: 4%;
      
    }
.footer_address{
  font-size: smaller;
}
    .footer_logo {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: left;
      margin-top: 4%;
      margin-left: -4%;
    }
    .footer_logo img{
      width: 22%
    }
    .social-media  img{
      margin-left: -2% !important;
      width: 100%;
    } 
  .footer_address{
    font-size: small;
    text-align: right;
  }
  .contact-info{
    font-size: smaller;
    text-align: left;
  }
  .contact-info img{
    width: 10%;
  }
  .footer .col-md-4{
    margin-bottom: 10px;
  }
  .footer h3{
    font-size: 1rem;
    text-align: left;
  }
  }
  @media only screen   
  and (min-width: 1030px)   
  and (max-width: 1366px) 
  {
    .footer_logo{
      width: 40%;
    }
  }
</style>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="margin-right: 3%;">
          <h3 style="color: #FFDB6D;">Connect with us!</h3>
          <ul class="contact-info">
            <li><img class="contact_images" src="{% static 'images/Mail.png' %}" alt="Background Image" style='margin-top: 3%;'> vbblegalmumbai@gmail.com</li>
            <li><img class="contact_images" src="{% static 'images/Call.png' %}" alt="Background Image" style='margin-top: 1%;'>+91 86001 72559 / 82508 32451</li>
            <p class="mt-2" style="color: #FFDB6D;margin-right: 7%;">&copy; 2023 VBB legal. All rights reserved.</p>
          </ul>
        </div>
        

        <div class="col-md-4">
          <h3 style="color: #FFDB6D;">Social Media Presence</h3>
          <ul class="social-media">
            <li><a href="https://www.instagram.com/vbblegal/" class="facebook">   <img  class ='social_footer_classes' src="{% static 'images/Ig-Foot.png' %}" alt="Background Image"   style=''></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100095018269683&locale=hi_IN&paipv=0&eav=AfaKrcQHQz9HQtEmVUwoOn7O-jrT848g1EC97qw3LcVFIXmf_hh1MC2XA8-G2NPrkqU" class="twitter">    <img  class ='social_footer_classes' src="{% static 'images/Fb-Foot.png' %}" alt="Background Image"   style=''></a></li>
            <li><a href="https://twitter.com/vbblegal" class="instagram">  <img  class ='social_footer_classes' src="{% static 'images/X-Foot.png' %}" alt="Background Image"    style=''></a></li>
            <li><a href="https://www.linkedin.com/in/vbb-legal-2a746a289/?originalSubdomain=in" class="instagram">  <img  class ='social_footer_classes' src="{% static 'images/Link-Foot.png' %}" alt="Background Image" style=''></a></li>
            <li><a href="https://youtube.com/@vbblegal?si=7r-QWwq7W-KXMk0o" class="instagram">  <img  class ='social_footer_classes' src="{% static 'images/Youtube-Footer.png' %}" alt="Background Image" style=''></a></li>
          </ul>
        </div>

        <div class="col-md-3 footer_address">
          <img style="" src =" {% static 'images//Mask_Group_1.png' %}" class =footer_logo'><br>
          
            <li style="color: white; list-style: none;" class="mt-3">424, MOHID HEIGHTS, RTO Rd, </li>
            <li style="color: white; list-style: none;">Suresh Nagar, Andheri West, Mumbai, Maharashtra 400053.</li>
            <!-- <hr style="opacity: 0.5;">
            <li style="color: white; list-style: none;">
              Swapna Sakar Society, beside Versova Metro Station, Andheri West, Mumbai- 400053
            </li> -->
            <hr style="opacity: 0.5;">
            <li style="color: white; list-style: none;" >Office No 303, Pearl Apartment, At Rees, Post Mohopada, Near Panvel, Navi Mumbai 410222.</li>
          </div>
          
          


      </div>
    </div>
  </footer>
  