{% load static %}
<style>
  .social-media{
    display: flex;
    flex-direction: row;
  }
</style>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Connect with us!</h3>
          <ul class="contact-info">
            <li><img src="{% static 'images/Mail.png' %}" alt="Background Image" style='width:14%;margin-top: 3%;'> vbblegal@outlook.com</li>
            <li><img src="{% static 'images/Call.png' %}" alt="Background Image" style='width:14%;margin-top: 3%;'>+91 8647598632 / 8250832451</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h3>Social Media Presence</h3>
          <ul class="social-media" style="width: 60%;">
            <li><a href="#" class="facebook"><img src="{% static 'images/Ig-Foot.png' %}" alt="Background Image" style='width:100%;margin-top: 3%;margin-left: -44%;'></a></li>
            <li><a href="#" class="twitter"><img src="{% static 'images/Fb-Foot.png' %}" alt="Background Image" style='width:100%;margin-top: 3%;margin-left: -44%;'></a></li>
            <li><a href="#" class="instagram"><img src="{% static 'images/X-Foot.png' %}" alt="Background Image" style='width:100%;margin-top: 3%;margin-left: -44%;'></a></li>
            <li><a href="#" class="instagram"><img src="{% static 'images/Link-Foot.png' %}" alt="Background Image" style='width:100%;margin-top: 3%;margin-left: -44%;'></a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <img style="width: 40%;" src =" {% static 'images//Mask_Group_1.png' %}">
         
            <li style="color: white; list-style: none;">424, MOHID HEIGHTS, RTO Rd,</li>
            <li style="color: white; list-style: none;"> Suresh Nagar,Andheri West, Mumbai, Maharashtra 400053.</li>
          
        </div>



      </div>
    </div>
  </footer>
  