{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #card-list{
        height: 16vh;
    }
     .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,191,0,1) ;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
    }
    .card-img-top{
        width: 54%;
    }
    .card{
        width: 85%;
        background-color: #FFF4D0;
        padding: 5%;
        height: 50vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: ease-in-out 0.75s ease; /* Add a smooth transition */
        
    }
    .card-body{
      height: 100%;
    }
    .View_all{
        background-color: black;
        padding: 3%;
        font-weight: 600;
        text-decoration: none;
        color: goldenrod;
        border-radius: 10px;
        padding-left: 15%;
        padding-right: 15%;

    }
    .View_all:hover{
        background-color: goldenrod;
        padding: 3%;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        border: none;
        padding-left: 15%;
        padding-right: 15%;

    }
  

    .btn-primary.dropdown-toggle {
  color: black !important;
  background-color: goldenrod;
  border-color: goldenrod;
}
.custom-arrow-list{
    margin-left: -18% !important;
}
.card_container{
    display: grid;
    margin-bottom: 20%;
    grid-template-columns: repeat(3, 1fr); /* Three columns in each row */
    grid-row-gap: 8%;
}



@media (max-width: 768px) {
  .card_container {
    display: grid;
    margin-bottom: 150%;
    height:auto;
    margin-left: 9%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1%;justify-content: center;
}
.card{
        width: 90% !important;
        background-color: #FFF4D0;
        padding: 5%;
        height: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: ease-in-out 0.75s ease; /* Add a smooth transition */
        
    }

}
</style>
<hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style="">
    <div class="container">
        
        <div class = 'about_usheading'>
            <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">Services</h1>
        </div> 
    </div>
</div>
<center><h5 class ='mt-4'>WHAT WE DO</h5></center> 
<hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 5%; margin: 0 auto;">
<div class="container mt-5" style="height: 100%;">

    <div class="card_container">

        <div class="card">
            <img src="../static/images/handcuff.png" class="button card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">Criminal cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Criminal Defense litigation.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Bail and Anticipatory bail Matters.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Cyber Crime.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Fraud and cheating cases.</li>
            
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list1" style="display: none; list-style: none; text-align: left;">
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Cheque Bounce Cases. (138 NI Act)</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Felony defense litigation.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Criminal Complaint and Trial.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">498A Cases.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">FIR Filing and Quashing.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Criminal Review petition.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Criminal Writ petitions in High Courts and Supreme Court of India.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Criminal Appeal in High Courts and Supreme Court of India. </li>
            
            
          </ul>
          <button class="View_all mt-auto"   data-target="card-list1" id="show-hide-button1">View All</button>
        </div>
      </div>

      <div class="card">
        <img src="../static/images/management.png" class="card-img-top mx-auto d-block mt-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Civil cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Civil rights litigation. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Property dispute cases. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Land dispute matters</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Money recovery cases.</li>
          </ul>
          
          <ul class="mt-3 custom-arrow-list" id="card-list2" style="display: none; text-align: left;list-style: none;">
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Civil suits. </li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Eviction cases. </li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Civil trials.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Land trespass and illegal acquisition cases.</li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Civil Writ petition in High Courts and Supreme Court of India. </li>
            <li  style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Civil appeal in High Courts and Supreme Court of India.</li>

          </ul>
          <button class="View_all  mt-auto" data-target="card-list2"  id="show-hide-button2">View All</button>
        
        </div>
      </div>


      <div class="card">
        <img src="../static/images/parents.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Family and Matrimonial cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Adoption petitions.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Judicial separation.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Mediation.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Divorce cases.</li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list3" style="display: none; text-align: left;list-style: none;">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Domestic violence cases. (DV matters) </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Mutual consent divorce.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Custody and maintenance. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Restitution of conjugal rights.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Cruelty cases. (498A) </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Appeals, and review petitions in High Courts and Supreme Court of India. </li>
          </ul>
          <button class="View_all mt-auto" data-target="card-list3" id="show-hide-button3">View All</button>
        </div>
      </div>


      <div class="card">
        <img src="../static/images/briefcase.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Corprate and Industry cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Labour court cases. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Industrial Dispute Resolution.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Provident Fund cases.</li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list4" style="list-style: none;display: none; text-align: left;">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">ESIC cases.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Arbitration.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">National company law tribunal matters. (NCLT) </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Industrial tribunal cases.  </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Appeals in High Courts and Supreme Court of India. </li>
          </ul>
          <button class="View_all mt-auto"  data-target="card-list4" id="show-hide-button4">View All</button>
        </div>
      </div>


      <div class="card" >
        <img src="../static/images/balance.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Special Act cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left;list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Protection of children from sexual Offences cases.(POCSO)</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Prevention of Corruption act cases.</li>
            
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list5" style="list-style: none;display: none; text-align: left;">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Narcotic Drugs and Psychotropic Substances act cases. (NDPS)</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Sexual Harassment of Women at workplace (Prevention, Prohibition and redressal) Act cases.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Real Estate Regulatory Authority (Regulation and Development) Act 2016. Cases.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Debt recovery tribunal (DRT Cases/SARFAESI Act.)</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Foreign Exchange Management act (FEMA) Cases.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">SEBI</li>
          </ul>
          <button class="View_all mt-auto"  data-target="card-list5" id="show-hide-button5">View All</button>
        </div>
      </div>


      <div class="card" >
        <img src="../static/images/categories.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Other Services</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Consumer dispute cases. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Aggrements and contracts. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Breach of agreement and Contract cases. </li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list6" style=" list-style: none; display: none; text-align: left;">
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Banking and Insurance.  </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Co-op Housing society matters.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Maritime Laws. </li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Resolving disputes.</li>
            <li style="background-image: url('../static/images/right-arrow.png'); background-repeat: no-repeat; background-size: 16px 16px; background-position:left center; padding-left: 30px;">Legal counselling.</li>
          </ul>
          <button class="View_all mt-auto" data-target="card-list6" id="show-hide-button6">View All</button>
        </div>
      </div>


      
      
        </div>
      
      

</div>


<script>
const buttons = document.querySelectorAll(".View_all");

buttons.forEach((button) => {
  button.addEventListener("click", function () {
    const targetId = button.getAttribute("data-target");
    const list = document.getElementById(targetId);

    if (list.style.display === "none" || list.style.display === "") {
      list.style.display = "block";
      button.innerText = "Hide"; // Change button text to "Hide"
    } else {
      list.style.display = "none";
      button.innerText = "View All"; // Change button text back to "View All"
    }

    // Adjust the card's height when the content is toggled
    const card = button.closest(".card");
    card.style.height = "auto"; // Reset the card's height
  });
});
  </script>
{% endblock content %}