{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #card-list{
        height: 16vh;
    }
     .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,191,0,1) ;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
    }
    .card-img-top{
        width: 54%;
    }
    .card{
        width: 85%;
        background-color: #FFF4D0;
        padding: 5%;
        height: 50vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: ease-in-out 0.75s ease; /* Add a smooth transition */
        
    }
    .card-body{
      height: 100%;
    }
    .View_all{
        background-color: black;
        padding: 3%;
        font-weight: 600;
        text-decoration: none;
        color: goldenrod;
        border-radius: 10px;
        padding-left: 15%;
        padding-right: 15%;

    }
    .View_all:hover{
        background-color: goldenrod;
        padding: 3%;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        border: none;
        padding-left: 15%;
        padding-right: 15%;

    }
  

    .btn-primary.dropdown-toggle {
  color: black !important;
  background-color: goldenrod;
  border-color: goldenrod;
}
.custom-arrow-list{
    margin-left: -18% !important;
}
.card_container{
    display: grid;
    margin-bottom: 20%;
    grid-template-columns: repeat(3, 1fr); /* Three columns in each row */
    grid-row-gap: 8%;
}
.card-body ul li{
margin-left: 7%;
}
.card-body ul li::before {
        content: "\2022";
        margin-left: 4%;
        color: rgba(255, 191, 0, 1);
        font-weight: bold;
        display: inline-block;
        width: 1.5em;
        margin-left: -1.5em;
    }

@media (max-width: 768px) {
  .card_container {
    display: grid;
    margin-bottom: 80%;
    height:auto;
    margin-left: 9%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1%;justify-content: center;
}
.card-img-top{
  width: 35%;
}
.card{
        width: 90% !important;
        background-color: #FFF4D0;
        padding: 5%;
        height: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: ease-in-out 0.75s ease; /* Add a smooth transition */
        
    }

}
@media only screen   
  and (min-width: 1030px)   
  and (max-width: 1366px) 
  {
   .card{
    height: 100%;
   } 
  }

</style>
<hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style="">
    <div class="container">
        
        <div class = 'about_usheading'>
            <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">Services</h1>
        </div> 
    </div>
</div>
<center><h5 class ='mt-4'>WHAT WE DO</h5></center> 
<hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 5%; margin: 0 auto;">
<div class="container mt-5" style="height: 100%;">

    <div class="card_container">

        <div class="card">
            <img src="../static/images/handcuff.png" class="button card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">Criminal Cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="";>Criminal Defense litigation.</li>
            <li style="";>Bail and Anticipatory bail Matters.</li>
            <li style="";>Cheque Bounce Cases. (138 NI Act)</li>
            <li style="";>Felony defense litigation.</li>
            <li  li style="">Cyber Crime.</li>
            
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list1" style="display: none; list-style: none; text-align: left;">
            <li  li style="">FIR Filing and Quashing.</li>
            <li  li style="">Criminal Complaint and Trial.</li>
            <li  li style="">498A Cases.</li>
            <li  li style="">Fraud and cheating cases.</li>
            <li  li style="">Criminal Review petition.</li>
            <li  li style="">Criminal Writ petitions in High Courts and Supreme Court of India.</li>
            <li  li style="">Criminal Appeal in High Courts and Supreme Court of India.  </li>
            
            
          </ul>
          <button class="View_all mt-auto"   data-target="card-list1" id="show-hide-button1">View All</button>
        </div>
      </div>

      <div class="card">
        <img src="../static/images/management.png" class="card-img-top mx-auto d-block mt-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Civil Cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="";>Civil rights litigation.  </li>
            <li style="";>Property dispute cases.  </li>
            <li style="";>Land dispute matters. </li>
            <li style="";>Civil suits.  </li>
          </ul>
          
          <ul class="mt-3 custom-arrow-list" id="card-list2" style="display: none; text-align: left;list-style: none;">
            <li style="";>Money recovery cases. </li>
            <li style="";>Eviction cases.  </li>
            <li style="";>Civil trials.</li>
            <li style="">Land trespass and illegal acquisition cases. </li>
            <li style="">Civil Write petition in High Courts and Supreme Court of India. </li>
            <li style="">Civil appeal in High Courts and Supreme Court of India.</li>

          </ul>
          <button class="View_all  mt-auto" data-target="card-list2"  id="show-hide-button2">View All</button>
        
        </div>
      </div>


      <div class="card">
        <img src="../static/images/parents.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Family and Matrimonial Cases</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="";>Domestic violence cases. (DV matters) </li>
            <li style="";>Judicial separation.</li>
            <li style="";>Mediation.</li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list3" style="display: none; text-align: left;list-style: none;">
            <li style="";>Divorce cases.</li>
            <li style="">Mutual consent divorce.  </li>
            <li style="">Custody and maintenance. </li>
            <li style="">Adoption petitions.  </li>
            <li style="">Restitution of conjugal rights.</li>
            <li style="">Cruelty cases. (498A) </li>
            <li style="">Appeals, and review petitions in High Courts and Supreme Court of India. </li>
          </ul>
          <button class="View_all mt-auto" data-target="card-list3" id="show-hide-button3">View All</button>
        </div>
      </div>


      <div class="card">
        <img src="../static/images/briefcase.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Corprate and Industry</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="";>Labour court cases.</li>
            <li style="";>Industrial Dispute Resolution.</li>
            <li style="";>Provident Fund cases.</li>
            <li style="">ESIC Cases.</li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list4" style="list-style: none;display: none; text-align: left;">
            <li style="">Arbitration.</li>
            <li style="">National company law tribunal matters. (NCLT)  </li>
            <li style="">Industrial tribunal cases.</li>
            <li style="">Appeals in High Courts and Supreme Court of India.  </li>
            <li style="">Contract labour act. </li>
            <li style="">Labour matter.  </li>
            <li style="">Gratuity Act. </li>
            <li style="">Bonus Act. </li>
            <li style="">Maharastra Motor Vehicle Act </li>
          </ul>
          <button class="View_all mt-auto"  data-target="card-list4" id="show-hide-button4">View All</button>
        </div>
      </div>


      <div class="card" >
        <img src="../static/images/balance.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Special Acts </h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left;list-style: none;" class="mt-3 custom-arrow-list">
            <li style="">Protection of children from sexual Offences cases.(POCSO)</li>
            <li style="">Narcotic Drugs and Psychotropic Substances act cases. (NDPS)</li>
            
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list5" style="list-style: none;display: none; text-align: left;">
            <li style="">Sexual Harassment of Women at workplace (Prevention, Prohibition and redressal) Act cases.</li>
            <li style="">Real Estate Regulatory Authority (Regulation and Development) Act 2016. Cases.</li>
            <li style="">Debt recovery tribunal (DRT Cases/SARFAESI Act.)</li>
            <li style="">Foreign Exchange Management act (FEMA) Cases.</li>
            <li style="">Prevention of Corruption act cases.</li>
            <li style="">SEBI cases.</li>
            <li style="">Probation of offenders act</li>
            <li style="">Maharashtra ownership flats act(MOFA)</li>
            <li style="">Maharashtra control of organised crime act(MCOF) </li>
          </ul>
          <button class="View_all mt-auto"  data-target="card-list5" id="show-hide-button5">View All</button>
        </div>
      </div>


      <div class="card" >
        <img src="../static/images/categories.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Other Services</h5>
          <hr style="opacity: 1; background-color: rgb(214, 170, 66); height: 3px; border: 1px; width: 35%; margin: 0 auto;">
          <ul style="text-align: left; list-style: none;" class="mt-3 custom-arrow-list">
            <li style="">Consumer dispute Act. </li>
            <li style="">Aggrements and contracts. </li>
            <li style="">Breach of agreement and Contract Act. </li>
          </ul>
          <ul class="mt-3 custom-arrow-list" id="card-list6" style=" list-style: none; display: none; text-align: left;">
            <li style="">Banking and Insurance.  </li>
            <li style="">Co-op Housing society matters.</li>
            <li style="">Maritime Laws. </li>
            <li style="">Resolving disputes.</li>
            <li style="">Legal counselling.</li>
          </ul>
          <button class="View_all mt-auto" data-target="card-list6" id="show-hide-button6">View All</button>
        </div>
      </div>


      
      
        </div>
      
      

</div><script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".View_all");
    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        const targetId = button.getAttribute("data-target");
        const list = document.getElementById(targetId);
        const card = button.closest(".card");

        // Close all open dropdowns except the one clicked
        buttons.forEach((otherButton) => {
          if (otherButton !== button) {
            const otherTargetId = otherButton.getAttribute("data-target");
            const otherList = document.getElementById(otherTargetId);
            otherList.style.display = "none";
            otherButton.innerText = "View All";
            const otherCard = otherButton.closest(".card");
            otherCard.style.height = "50vh"; // Reset the other card's height
          }
        });

        if (list.style.display === "none" || list.style.display === "") {
          list.style.display = "block";
          card.style.height = "auto";
          button.innerText = "View Less";
        } else {
          list.style.display = "none";
          card.style.height = "50vh";
          button.innerText = "View All";
        }
      });
    });

    // Function to get query parameters from URL
    function getQueryParams() {
      const queryParams = new URLSearchParams(window.location.search);
      return queryParams.get("openDropdown");
    }

    // Check if the URL parameter matches a button and open the corresponding dropdown
    const openDropdownIndex = getQueryParams();
    if (openDropdownIndex !== null) {
      const index = parseInt(openDropdownIndex);
      if (!isNaN(index) && index >= 0 && index < buttons.length) {
        const targetButton = buttons[index];
        targetButton.click(); // Simulate a click on the specified button
      }
    }
  });
</script>










{% endblock content %}