{% extends 'base.html' %}
{% load static %}
{% block content %}
 
<style>
  .btn-primary {
    background-color: rgba(255, 219, 109, 1);
    color: black;
  }

  .full_page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,191,0,1) ;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    height: 10vh;
    background-image: url("{% static 'images/about_us_bg.png' %}");
    background-size: 100% 100%;
  }

  .data_quote {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4%;
    align-items: center;

  }

  .data_quote blockquote {
    width: 100%;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
  }

  blockquote {
    font-family: 'Poppins', sans-serif;
    /* padding: 2%; Add some space for the quote icon */
    /* line-height: 1.5; */
  }

  blockquote::before {
    content: "\201C";
    /* Unicode code point for opening double quotation mark */
    font-size: 270%;
    font-family: 'Times New Roman', Times, serif;
    /* Adjust size of the quote icon */
    color: rgba(255, 219, 109, 1);
    /* Change color of the quote icon */
  }

  blockquote::after {
    font-family: 'Times New Roman', Times, serif;
    content: "\201D";
    /* Unicode code point for closing double quotation mark */
    font-size: 270%;
    /* Adjust size of the quote icon */
    color: rgba(255, 219, 109, 1);
    /* Change color of the quote icon */
  }

  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    margin: 2%;
    width: 30%;
    border: none;
    box-shadow: none;
  }

  .main_team .team .card {
    margin: 2%;
    width: 30%;
    border: none;
    box-shadow: none;
  }

  .team .card {
    margin: 2%;
    width: 20%;
    border: none;
    box-shadow: none;
    
  }

  .card img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: none;
    border-top-right-radius: 25px;
    width: 80%;
  }

  .card-title {
    text-align: left;
  }
  .area_of_expertise:hover{
        cursor: unset !important;
    }
  .area_of_expertise{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    width: 100%;
}
.area_of_expertise button {
    width: 174px;
  height: 57px;
  text-transform: uppercase;
  transform: skewX(-20deg); /* Skew the button */
    background-color: black;
    color: rgba(255,191,0,1);

}

.area_of_expertise button h5 {
  transform: skewX(20deg); /* Skew the button */
   

}
.quote_image{
  width: 75%;
}

  @media (max-width: 768px) {

    .team {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }


    .main_team .team .card {
      width: 90%;
      margin-left: 10%;

    }
.card{
  width: 80% !important;
  

}
    .team .card {
    margin-left: 9%;

    width: 80%;
    border: none;
    box-shadow: none;
}

.data_quote blockquote {
    width: 100%;
    font-size: 100%;
    ;
    font-family: 'Times New Roman', Times, serif;
  }

.card-body h5 {
 font-size: medium;
 margin-top: -5%;
}
.card-body p {
 font-size: small;
}
.list-group-item{
  font-size: smaller;
  margin-top: -5%;
}
 .btn-primary{
  margin-top: -5%;
}

.quote_image{
  width: 100%;
}
.area_of_expertise button {
    width: 100%;
    height: 30px;
    transform: skewX(-20deg);
    background-color: black;
    color: rgba(255,191,0,1);
}
.heading_area_of_expertise h5{
  font-size: 100%;
  margin-top: 2%;

}
  }
</style>
  
</head>
<hr style="opacity: 1; background-color: rgb(185, 139, 30); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style=" ">

  <div class="container">

    <div class='about_usheading'>
      <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">Our Team</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="data_quote">
    <img class="quote_image" src = '../static/images/ourteam-text.png'/>
    <!-- <blockquote> Welcome to <b>VBB Legal</b> We take pride in introducing you to our exceptional team of legal
      professionals who are dedicated to providing comprehensive and innovative legal solutions. Our diverse and
      experienced team is committed to delivering excellence in every aspect of the law. Here, you'll find a group of
      talented individuals who bring a wealth of knowledge, passion, and dedication to our clients' legal needs.
    </blockquote> -->


  </div>
</div>

<div class="container">
  <div class="main_team">

    <div class="team">
      <div class="card" style="">
        <img src="../static/images/VinayakMishra.png" class="card-img-top" style="width: 78%;"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Adv. Vinayak D. Mishra</h5>
          <p class="card-text"><b>Founder and Partner - VBB Legal</b></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Advocate Bombay High Court
            and Supreme Court of India.</li>

        </ul>
        <div class="card-body">
          <a href="{% url 'profile_view' 'Vinayak-Mishra' %}" class="btn btn-primary"><b>Visit Profile</b></a>
        </div>
      </div>

      <div class="card" style="">
        <img src="../static/images/BinitaSharma.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Adv. Binita Y. Sharma</h5>
          <p class="card-text"><b>Founder and Partner - VBB Legal</b></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Advocate Bombay High Court <br> and Supreme Court of India.</li>

        </ul>
        <div class="card-body">
          <a href="{% url 'profile_view' 'Binita-Sharma' %}" class="btn btn-primary"><b>Visit Profile</b></a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="area_of_expertise">
  <div class="heading_area_of_expertise">
    <button>
      <h5>
        Core Team
      </h5>
    </button>
  </div>
</div>
<div class="team">
  <div class="card" style="">
    <img src="../static/images/B_D_Tripathi.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adv. B D Tripathi</h5>
      <p class="card-text"><b>Senior Advocate</b></p>
      <p class="card-text">Senior Advocate, Bombay High Court and Supreme Court of India. </p>
    </div>

    <div class="card-body">
      <a href="{% url 'profile_view' 'B-D-Tripathi' %}" class="btn btn-primary"><b>Visit Profile</b></a>
    </div>
  </div>

  <div class="card" style="">
    <img src="../static/images/Pritesh_H_Sahu.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adv. Pritesh H. Sahu</h5>
      <p class="card-text"><b>Legal Associate</b></p>
      <p class="card-text">Advocate Bombay High Court</p>
    </div>

    <div class="card-body">
      <a href="{% url 'profile_view' 'Pritesh-Sahu' %}" class="btn btn-primary"><b>Visit Profile</b></a>
    </div>
  </div>
  <div class="card" style="">
    <img src="../static/images/Dhwani.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adv. Dhwani S. Rughani</h5>
      <p class="card-text"><b>Legal Associate</b></p>
      <p class="card-text">Advocate Bombay High Court</p>
    </div>

    <div class="card-body">
      <a href="{% url 'profile_view' 'Dhwani-Rughani' %}" class="btn btn-primary"><b>Visit Profile</b></a>
    </div>
  </div>
</div>
{% endblock content %}