{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
     .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,191,0,1) ;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
       
    }
    .profile_name{
        font-size: x-large;
    }
    .profile_role{
        font-size: small;
        align-items: center;
        width: 70%;
        text-align: center;
        justify-content: center;
    }
    .image_section{
        width: 30%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_profile{
        width: 100%;
    }
    .image_section img {
        width: 87%;
        padding: 1%;
        border-top-right-radius: 25px;
    }
    .section_left{
        display: flex;
        height: 100%;
        margin-bottom: 5%;
        flex-direction: row;
        margin-left: -3%;
    }

    @media (max-width: 768px){
        .section_left {
            flex-direction: column;
        }
        .image_section{
            width: 100%;
        }
        .about_profile{
        width: 100%;
        padding: 4%;
    }
    .about_heading{
        margin-left: 3%;

    }
    }
</style>
<hr style="opacity: 1; background-color: rgb(185, 139, 30); height: 12px;border:1px;width: 100%;margin-bottom: 0%;margin-top: 0%;border-top: 1px solid rgb(201, 150, 9);">
<div class="full_page" style=" ">

    <div class="container">
        
        <div class = 'about_usheading'>
            <h1 style="text-shadow: 0 0 2px , 0 0 .2px #BEBEBE;">Our Team</h1>
        </div>    
    </div>
</div>

<div class="container mt-3 mb-5">

    <h7><b>Our Team / {{profile.name}}</b></h7>

<div class="section_left mt-5 mb-5">

<div class="image_section">
    <img src="{{profile.image}}" alt="{{profile.name}}">
    <div class="profile_name"><b>{{profile.name}}</b></div>
    <div class="profile_role"><b>{{ profile.desg }}</b></div>
    <div class="profile_role">{{ profile.role }}</div>
</div>

   
    
    <div class="about_profile mt-5">
        <div class="about_heading"><h3>About Me</h3></div>
        <ul class="list-group list-group-flush" style="margin-left: -1.5%;">
            <li class="list-group-item">{{ profile.description|safe }}</li>
            
        </ul>
    </div>
</div>
</div>
{% endblock content %}