{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
    .full_page{
        display: flex;
        justify-content: center;
        align-items:center ;
        color: rgba(255,219,109,1) ;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        height: 10vh; background-image: url("{% static 'images/about_us_bg.png' %}");  
        background-size: 100% 100%;
    }
    .whyus_Section{
        height: 100%;
        margin-bottom: 3%;
        min-height: 60vh;
    }
   .accordion-button{
    background: linear-gradient(90deg, rgba(232,183,64,1) 0%, rgba(255,215,8,1) 100%);
    margin-top: 1%;
    height: 7vh;
    border-radius: 15px !important;
    border: 1px solid rgba(255,219,109,1);
    font-weight: 600;
    font-family: 'Alegreya Sans', sans-serif;
   }
   .accordion-item{
    border: none;
   }
   .accordion-button:focus {
    z-index: 3;
    border-color: rgba(255,219,109,1);
    outline: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: rgba(255,219,109,1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-collapse{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
}
.accordion-body{
    background-color:white;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
    line-height: 45px;
  font-family: 'Times New Roman', Times, serif;


}

</style>

<div class="full_page" style=" ">

    <div class="container">
        
        <div class = 'about_usheading'>
            <h1>Why Us</h1>
        </div> 
        
    </div>
</div>
<div class="whyus_Section">

    <div class="container mt-5">
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  We turn legal complexities into Simplicity
                </button>
              </h2>
              <div id="flush-collapseOne" style='margin-top:-1%'class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="container">

                    We understand that the legal landscape can often be overwhelming and confusing. 
                    That's why our mission is to guide you through the complexities, simplifying the process and providing clear solutions tailored to your unique needs. 
                    Our team of experienced attorneys is dedicated to demystifying the legal jargon and intricacies, ensuring you have a deep understanding of your options and rights.
                    <br>
                    When you choose VBB Legal, you're not just selecting a law firm; you're gaining a trusted partner committed to your success.<br>
                    
                    We believe that every client deserves personalized attention and respect, regardless of the case's size or complexity. With a client-centered approach, we prioritize open communication, keeping you informed and involved every step of the way.
                    Our track record speaks for itself. We have successfully helped numerous individuals and businesses navigate through legal challenges, delivering favorable outcomes and protecting their interests. From family law matters to corporate disputes, our diverse expertise empowers us to tackle a wide range of cases effectively.
                    
                    Simplify your legal journey with VBB Legal. Let us be your bridge to clarity, resolution, and peace of mind. Experience the difference of having a dedicated team of legal experts in your corner, fighting for your rights and best interests. Reach out to us today and discover how we can turn complexities into simplicity for you
                  </div>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Legal excellence with Client centric
                </button>
              </h2>
              <div id="flush-collapseTwo" style='margin-top:-1%' class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="container">

                    We understand that the legal landscape can often be overwhelming and confusing. 
                    That's why our mission is to guide you through the complexities, simplifying the process and providing clear solutions tailored to your unique needs. 
                    Our team of experienced attorneys is dedicated to demystifying the legal jargon and intricacies, ensuring you have a deep understanding of your options and rights.
                    <br>
                    When you choose VBB Legal, you're not just selecting a law firm; you're gaining a trusted partner committed to your success.<br>
                    
                    We believe that every client deserves personalized attention and respect, regardless of the case's size or complexity. With a client-centered approach, we prioritize open communication, keeping you informed and involved every step of the way.
                    Our track record speaks for itself. We have successfully helped numerous individuals and businesses navigate through legal challenges, delivering favorable outcomes and protecting their interests. From family law matters to corporate disputes, our diverse expertise empowers us to tackle a wide range of cases effectively.
                    
                    Simplify your legal journey with VBB Legal. Let us be your bridge to clarity, resolution, and peace of mind. Experience the difference of having a dedicated team of legal experts in your corner, fighting for your rights and best interests. Reach out to us today and discover how we can turn complexities into simplicity for you
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header"id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  We don't Advertise, We Empower
                </button>
              </h2>
              <div id="flush-collapseThree"style='margin-top:-1%' class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header"id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Proven results with Exceptional representation.
                </button>
              </h2>
              <div id="flush-collapseFour"style='margin-top:-1%' class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header"id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Turning cases into Victories
                </button>
              </h2>
              <div id="flush-collapseFive"style='margin-top:-1%' class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>

          </div>
    </div>
    
</div>
    
    
    
    
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


{% endblock content %}
